<%= content_for :head do %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css", :id => "theme" %>
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= javascript_include_tag "directupload.js" %>
  <%= javascript_include_tag "sendtos3.js" %>
<% end %>


<h1>Static Import File  Home</h1>
<p>
<%= yield(@bucket) %>
</p>
<p>
	Choose a file to import	
</p>
<div id="fileupload">
	<%#= form_tag('https://rplus_imports.s3.amazonaws.com',  multipart: true) %>
  <form id = "uploadform" accept-charset="UTF-8" action="https://rplus_imports.s3.amazonaws.com" enctype="multipart/form-data" method="post">
    <div>
      <input type = "hidden" name = "key"%>
      <input type = "hidden" name = "AWSAccessKeyId" value = 'AKIAIO7DWLW3MRHV5QXQ' %>
      <input type = "hidden" name = "acl" value = "private" %>
      <!--input type="hidden" name="success_action_redirect" value = "http://localhost:3000/direct"-->      
      <input type = "hidden" name = "policy" %>
      <input type = "hidden" name = "signature" %>
      <!--
      <input type = "hidden" name = "content-length-range", 0, 1048576 %>
    -->
    </div>  
	  <div class="fileupload-buttonbar">
       <label class="fileinput-button">
          <span>Add files...</span>
            <%#= file_field 'upload','file' %>
            <input type = "file" name = "file" %>
       </label>
       <button type="button" onclick = "sendtos3()" >Start upload</button>
       <button type="reset" class="cancel">Cancel upload</button>
       <button type="button" class="delete">Delete files</button>
     </div>
     <div class="fileupload-content">
       <table id = "filestable" class="files"></table>
       <div class="fileupload-progressbar"></div>
     </div>
  </form>
</div>     

<%= render :partial => "template-upload" %>
<%= render :partial => "template-download" %> 

